<head>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.js"></script>
  	<script type="text/javascript" src="<?php echo CONTACT_JS_PATH ?>contact_controller.js"></script>
</head>
<div id="contact">
	<div id="control-group">
	            <label for="sel1">Subject</label>
	            <select class="form-control" id="inputSubject" name="inputSubject" title="Choose subject">
	                <option value="compra">Info relativa a tu compra</option>
	                <option value="evento">Celebra un evento con nosotros</option>
	                <option value="programacion">Contacta con nuestro dpto de programacion</option>
	                <option value="Trabaja">Trabaja con nosotros</option>
	                <option value="proyectos">Deseas proponernos proyectos</option>
	                <option value="sugerencias">Haznos sugerencias</option>
	                <option value="reclamaciones">Atendemos tus reclamaciones</option>
	                <option value="club">Club rural_shop</option>
	                <option value="sociales">Proyectos sociales</option>
	                <option value="festivos">Apertura de festivos</option>
	                <option value="novedades">Te avisamos de nuestras novedades</option>
	                <option value="diferente">Algo diferente</option>
	            </select>
	</div>
	<div id="email-area">
		<input type="text" id="e_mail" name="e_mail" placeholder="Introduzca su e-mail">
	</div>
	<textarea type="text" id="contact_text" name="contact_text" placeholder="Introduzca el contenido de su consulta"></textarea>
	<div id="send-area">
		<button id="enviar">SEND</button>
	</div>
</div>