<head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.0.1/min/dropzone.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.0.1/dropzone.css">
<!--End of dropzone scripts-->
<script type="text/javascript" src="<?php echo USUARIO_JS_PATH ?>controller_usuario.js"></script>
</head>
<br>
<br>
<br>
<br>
<br>
<p><h2>Input a new user</h2></p>
<div class="status alert alert-success" style="display: none"></div>
<div id="create_user">
  <form name="formproduct" id="formproduct">
    <br>
    <table>
        <tr>
          <td>User name: </td>
          <td id="error_nameuser"><input type="text" name="nameuser" id="nameuser" required="required" placeholder="Name user"
             value=""/>
            <div></div>
          </td>
        </tr>
        <tr>
        <tr>
          <td>Name: </td>
          <td id="error_username"><input type="text" name="username" id="username" required="required" placeholder="User name"
             value=""/>
            <div></div>
          </td>
        </tr>
        <tr>
          <td>Surname: </td>
          <td id="error_surname"><input type="text" name="surname" id="surname" required="required" placeholder="User surname"
             value=""/>
            <div></div>
          </td>
        </tr>
        <tr>
          <td>Reference: </td>
          <td id="error_referal"><input type="text" name="referraluser" id="referraluser" required="required" placeholder="Referral user"
            value=""/>
            <div ></div>
          </td>

        </tr>
        <tr>
          <td>Reception date: </td>
          <td id="error_date_reception"><input type="text" name="date_reception" id="date_reception" placeholder="Reception date" readonly="readonly"
             value=""/>
              <div ></div>
          </td>
        </tr>
        <tr>
           <td>Expiration date: </td>
           <td id="error_date_expiration"><input type="text" name="date_expiration" id="date_expiration" placeholder="Expiration date" readonly="readonly"
             value=""/>
             <div ></div>
           </td>

        </tr>
        <tr>
      <div class="interesado" id="interesado">
            <tr>
              <td>
                Interesado en: 
              </td>
              <td>
                <input type="checkbox" id="Bitcoin" name="Bitcoin" value="Si"/>Bitcoin
                <input type="checkbox" id="IOTA" name="IOTA" value="Si"/>IOTA
                <input type="checkbox" id="Litecoin" name="Litecoin" value="Si"/>Litecoin
                <input type="checkbox" id="Ethereum" name="Ethereum" value="Si"/>Ethereum
              </td>
              <td>
                <font color="red">
                  <span id="e_aficion" class="e">
                  </span>
                </font>
              </td>
            </tr>
        </tr>
      </div>
           </td>
        </tr>
        <tr>
          <td>Sexo: </td>
          <td>
            <input type="radio" id="sexo" name="sexo" placeholder="sexo" value="Hombre"/>Hombre
            <input type="radio" id="sexo" name="sexo" placeholder="sexo" value="Mujer"/>Mujer
              </td>
          <td><font color="red">
              <span id="e_sexo" class="e">
              </span>
          </font></td>
        </tr>
        <tr>
          <td>Where from you:</td>
        </tr>
        <tr>
            <td>Country: </td>
            <td id="error_country">
              <select name="country" id="country">
                <option selected>Select country</option>
              </select>
              <div></div>
            </td>
        </tr>
        <tr>
          <td></td>
        </tr>
        <tr>
            <td>Province: </td>
            <td id="error_province">
            <select name="province" id="province">
              <option selected>Select province</option>
            </select>
            <div></div>
            </td>
        </tr>
        <tr>
          <td></td>
        </tr>
        <tr>
            <td>City: </td>
            <td id="error_city">
              <select name="city" id="city">
              <option selected>Select city</option>
            </select>
            <div></div>
            </td>
        </tr>
        <tr>
           <td>Description: </td>
           <td id="error_proddesc"><textarea rows="4" cols="50" name="proddesc" id="proddesc" placeholder="Why you would like be our user"
             value=""></textarea>
             <div></div>
           </td>
        </tr>
        <tr>
          <td>
          </td>
          <td>
            <div class="form-group" id="progress">
            <div id="bar"></div>
            <div id="percent">0%</div >
            </div>

            <div class="msg"></div>
            <br/>
            <div id="dropzone" class="dropzone"></div><br/>
          </td>
        </tr>
    </table>
    <br/>
    <button type="button" name="submit_user" id="submit_user" value="submit">
      Submit user
    </button>
  </form>
</div>