<head>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.js"></script>
  	<script type="text/javascript" src="<?php echo PROFILE_JS_PATH ?>controller_profile.js"></script>
</head>
<br>
<br>
<br>
<br>
<br>
<h1>Profile</h1>
<div id="profile"></div>