<head>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.js"></script>
	<script src="https://www.gstatic.com/firebasejs/4.13.0/firebase.js"></script>
  	<script type="text/javascript" src="<?php echo LOGIN_JS_PATH ?>controller_login.js"></script>
</head>
<br>
<br>
<br>
<br>
<br>
	<div id="login">
    <div id="input_login">
    	<div id="input-login">
    		<img src="<?php echo IMG_PATH ?>login.png" id="login_png">
    		<br>
	    	<form autocomplete="on" method="post" name="login" id="enter_login">
	    		<h1 id="texto">Login</h1>
	    		<div id="contenido_login">
		        	<table id="table_login">
			            <tr>
			                <td>Usuario: </td>
			                <td><input type="text" id="usuario_login" name="usuario_login" placeholder="usuario" /></td>
			                <td id="mensaje_login"></td>
			            </tr>
			            <tr>
			                <td>Contraseña: </td>
			                <td><input type="password" id="pass_login" name="pass_login" placeholder="contraseña" value=""/></td>
			                <td id="mensaje_pass_login"></td>
			            </tr>
			        </table>
			    	<table id="botones_login">
				        <td>
				        	<a type="button" value="Login" id="login_btn">Login</a>
				        </td>
			        	<td>
			        		<a type="button" value="Reset" id="reset_btn" href="../../login/reset/"/>He olvidado mi contraseña</a>
			        	</td>
		    		</table>
		    	</div>
	        </form>
	        <form autocomplete="on" method="post" name="register_user" id="register_user">
		        <h1 id="texto">Register</h1>
		        <br>
		        <div id="contenido_register">
		            <table id="register">
		                    <tr>
		                        <td>Usuario: </td>
		                        <td>
		                        	<input type="text" id="usuario_register" name="usuario" placeholder="usuario""/>
		                        </td>
		                        <td id="mensaje_usuario_reg"></td>
		                    </tr>

		                    <tr>
		                        <td>Email: </td>
		                        <td>
		                        	<input type="text" id="email_register" name="email" placeholder="email""/>
		                        </td>
		                        <td id="mensaje_email_reg"></td>
		                    </tr>

		                    <tr>
		                        <td>Contraseña: </td>
		                        <td>
		                        	<input type="password" id="pass_register" name="pass" placeholder="contraseña" value=""/>
		                        </td>
		                        <td id="mensaje_pass_reg"></td>
		                    </tr>
		            </table>
		            <table id=botones_register>
			    		<td>
			    			<a type="button" value="Register" id="register_btn"/>Register</a>
			    		</td>
		    		</table>
		        </div>
	    	</form>
	    </div>
    	
    	<div id="social_login">
    		<input id="logingoogle" class="busqueda_img" type="image" src="<?php echo IMG_PATH ?>google_plus.png" height="150px" width="150px">
    		<input id="logintwitter" class="busqueda_img" type="image" src="<?php echo IMG_PATH ?>twiter_icono.png" height="150px" width="150px">
		</div>
	</div>
</div>
