<head>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.js"></script>
  	<script type="text/javascript" src="<?php echo LOGIN_JS_PATH ?>controller_reset.js"></script>
</head>
<div id="input-reset">
	<form autocomplete="on" method="post" name="reset" id="enter_reset">
    		<h1 id="texto">Reset</h1>
    		<div id="contenido_login">
	        	<table id="table_login">
	        		<tr>
		                <td>e-mail: </td>
		                <td><input type="text" id="email_reser" name="email_reser" placeholder="email" /></td>
		                <td id="mensaje_email_reser"></td>
		            </tr>
		            <tr>
		                <td>Contraseña: </td>
		                <td><input type="password" id="pass_reset" name="pass_reset" placeholder="contraseña" /></td>
		                <td id="mensaje_pass_reset"></td>
		            </tr>
		        </table>
	    	</div>

	    	<table id="botones_login">
		        <td>
		        	<a type="button" value="Login" id="submit">Submit</a>
		        </td>
			</table>
		</div>
	</form>
</div>