<head>
	<link rel="stylesheet" type="text/css" href="<?php echo CSS_PATH ?>style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.js"></script>
  <script type="text/javascript" src="<?php echo HOME_JS_PATH ?>controller_home.js"></script>
</head>

<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="<?php echo IMG_PATH ?>ethereum.png" alt="Chania">
      <div class="carousel-caption">
        <h3>Ethereum</h3>
        <p>Ethereum is always so much fun!</p>
      </div>
    </div>

    <div class="item">
      <img src="<?php echo IMG_PATH ?>bitcoin.jpg" alt="Chicago">
      <div class="carousel-caption">
        <h3>Bitcoin</h3>
        <p>Thank you, Bitcoin!</p>
      </div>
    </div>

    <div class="item">
      <img src="<?php echo IMG_PATH ?>litecoin.jpeg" alt="Chicago">
      <div class="carousel-caption">
        <h3>Litecoin</h3>
        <p>Litecoin is always so much fun!</p>
      </div>
    </div>

    <div class="item">
      <img src="<?php echo IMG_PATH ?>iota.jpg" alt="New York">
      <div class="carousel-caption">
        <h3>IOTA</h3>
        <p>We love the IOTA!</p>
      </div>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<div id="buscador">
<input type="text" id="busqueda_cripto" name="busqueda_cripto" placeholder="Busca una cryptomoneda">
<input id="busqueda_img" class="busqueda_img" type="image" src="<?php echo IMG_PATH ?>icono_busqueda.png" height="30px" width="30px">
</div>
<div id="separador"></div>
<div id="categorias">
  <section>
    <table>
      <tr>
        <td id="insert_categories">
        </td>
      </tr>
  </table>
  </section>
</div>
<div id="button_more">
  <input id="more" type="image" src="<?php echo IMG_PATH ?>more.png">
</div>