<head>
 	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.js"></script>
  	<script type="text/javascript" src="<?php echo HOME_JS_PATH ?>controller_detail.js"></script>
  	<link rel="stylesheet" type="text/css" href="<?php echo CSS_PATH ?>style.css">
</head>
<div id="buscador">
<input type="text" id="busqueda_cripto" name="busqueda_cripto" placeholder="Busca una cryptomoneda">
<input id="busqueda_img" class="busqueda_img" type="image" src="<?php echo IMG_PATH ?>icono_busqueda.png" height="30px" width="30px">
</div>
<div id="separador"></div>
<div id="monedas">
  <section>
    <table>
      <tr>
        <td id="insert_moneda">    
        </td>
      </tr>
  </table>
  </section>
</div>
<div id="back"></div>