<head>
  <script type="text/javascript" src="<?php echo HOME_JS_PATH ?>boot_page.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.js"></script>
  <script type="text/javascript" src="<?php echo HOME_JS_PATH ?>controller_list.js"></script>
  <link rel="stylesheet" type="text/css" href="<?php echo CSS_PATH ?>style.css">
  <script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>
</head>
<div id="buscador">
<input type="text" id="busqueda_cripto" name="busqueda_cripto" placeholder="Busca una cryptomoneda">
<input id="busqueda_img" class="busqueda_img" type="image" src="<?php echo IMG_PATH ?>icono_busqueda.png" height="30px" width="30px">
</div>
<div id="separador"></div>
<div id="monedas">
  <section>
    <table>
      <tr>
        <td id="insert_monedas">
        </td>
      </tr>
  </table>
  <div id="boot_page">
  </div>
  </section>
</div>


<h3>Este mapa es una prueba, cada cryptomoneda tiene una longitud y una latitud, estas estan puestas al azar</h3>
<div id="map"></div>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB_8CmjlOI4CSo5qg9BuUPUsTwWV_cy1Zk&callback=initMap"></script>